<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <a href="https://xargs.cat"><h1 class="">/home/gen0ne</h1></a>
    <p>$ cat <span class="string">info.py</span> | xargs -0 bash -c</p>
    <p>
    nick = <span class="string">'{{ site.nick }}'</span>
    </p>
    <p>
    <span class="reserved">print</span><span class="string">(f'<span class="reserved">{nick}</span>@<span class="reserved">nicods</span>.{{ site.mail.ext }}')</span>
    </p>
    <p>
    <span class="reserved">print</span><a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">(f'https://{{ site.source_code.server }}/<span class="reserved">{nick}</span>')</span></a>
    </p>
    <p>
    <span class="reserved">print</span><a href="https://twitter.com/gen0ne1" target="_blank"><span class="string">(f'https://twitter.com/<span class="reserved">{nick}</span>')</span></a>
    </p>
    <p>
    <span class="reserved">print<a href="{{ site.url }}/pubkey/"><span class="string">('{{ site.fingerprint_key }}')</span></a>
    </p>
  </div>
</header>

{% include menu.html %}
